<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <ion-button (click)="onDismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-button>
      <ion-title>{{ title }}</ion-title>
      <ion-button (click)="saveDate()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content mode="md">
  <div class="container">
    <p>
      <span>{{ subtitle }}</span>
    </p>
    <ion-datetime
      locale="pt-BR"
      [min]="minDate"
      [presentation]="typeDateTime"
      [value]="currentDate"
      (ionChange)="onChangeDateTime($event)"
    ></ion-datetime>
  </div>
</ion-content>
