.title {
    padding-left: 10px;
}

.box {
    max-width: 450px;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-time {
    border: 1px solid var(--ion-color-medium);
    border-radius: 16px;
}