ion-header {
  --ion-background-color: white;
  --ion-box-shadow: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Estilizando a barra de ferramentas (ion-toolbar) dentro do ion-header */
ion-header ion-toolbar {
  --ion-background-color: white;
  --ion-box-shadow: none;
}

ion-card {
  border-radius: 30px;
}

ion-button {
  margin-left: 20%;
  margin-right: 20%;
}

ion-list {
  max-height: 300px;
  overflow: auto;
}