<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Residencial Eco. Villas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <br />
  <ion-title>Calendário Área Gourmet</ion-title>
  <ion-card color="light">
    <ion-card-content>
      <ion-datetime
        (ionChange)="onClickDateCalendar($event)"
        locale="pt-BR"
        [highlightedDates]="listDatesCalendar"
        presentation="date"
        mode="ios"
      ></ion-datetime>
    </ion-card-content>
  </ion-card>
  <br />
  <ion-button (click)="onClickAgendar()" expand="full" shape="round">
    <ion-label color="light">Agendar</ion-label>
  </ion-button>
  <br />
  <ion-title>Próximos eventos</ion-title>
  <ion-list>
    <ion-item *ngFor="let item of listAgendamentos" (click)="onClickItemCardCalendar(item)" button color="light">
      <ion-label
        >{{ item.data | date: 'dd' }} - {{ item.tipo }} - Apt: {{
        item.apartamento }}</ion-label
      >
    </ion-item>
    <app-skeleton-list *ngIf="!listAgendamentos.length" image="calendario_anim.svg"></app-skeleton-list>
  </ion-list>
</ion-content>
