<ion-content mode="md">
  <!--Login-->
  <section class="center-content">
    <ion-card class="card-form">
      <ion-card-content>
        <div class="intro-form">
          <img class="logo" lazyLoad="assets/images/logo.png" />
          <p class="title">Finalize seu cadastro</p>
          <p>Crie uma senha de acesso</p>
        </div>
        <div class="box-form">
          <form [formGroup]="form">
            <ion-item disabled="true" lines="none" color="light">
              <ion-label position="stacked">E-mail</ion-label>
              <ion-input
                formControlName="email"
                placeholder="Digite seu e-mail"
                type="email"
                minlength="8"
                maxlength="100"
              ></ion-input>
            </ion-item>
            <ion-item lines="none" color="light">
              <ion-label position="stacked">Crie uma senha</ion-label>
              <ion-input
                formControlName="password"
                placeholder="Digite sua senha"
                [type]="!viewPass ? 'password' : 'text'"
                minlength="8"
                maxlength="100"
              ></ion-input>
              <ion-icon (click)="viewPass = !viewPass" slot="end" [name]="viewPass ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
            </ion-item>
          </form>
        </div>
      </ion-card-content>
      <ion-card-content>
        <ion-button (click)="onClickContinue()" [disabled]="!form.valid || isLoading" class="btn" color="primary">
          <ion-spinner
            *ngIf="isLoading"
            color="light"
            name="dots"
          ></ion-spinner>
          <ion-label *ngIf="!isLoading">
            <ion-label color="light">Continuar</ion-label>
          </ion-label>
        </ion-button>
        <br />
        <br />
        <ion-button
          (click)="onClickLogin()"
          expand="full"
          fill="clear"
          size="small"
          color="dark"
        >
          <ion-label>Voltar</ion-label>
        </ion-button>
        
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>
