.container {
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.divider {
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  width: 1px;
  min-height: 100%;
  background-color: var(--ion-color-medium);
}

image-cropper {
  text-align: center;
  left: 0;
  right: 0;
  min-width: 100%;
  max-height: 360px;
}

img {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
}

.box-img-edit {
  min-width: 350px;
}

.default {
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 50px;
}
